.content-card {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
  }
  .content-card:hover {
    text-decoration: underline;
  }
  
  .content-card.first-card {
    border: 2px solid #000;
  }
  .content-card.type-a {
    background-color: lightgreen;
  }
  
  .content-card.type-b {
    background-color: lightblue;
  }
  
  .content-card.type-c {
    background-color: lightcoral;
  }
  .highlight {
    border: 2px solid yellow;
  }
  